@-webkit-keyframes outline1 {
  0% {
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent; } }
@-moz-keyframes outline1 {
  0% {
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent; } }
@-ms-keyframes outline1 {
  0% {
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent; } }
@keyframes outline1 {
  0% {
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent; } }
@-webkit-keyframes outline2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626; } }
@-moz-keyframes outline2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626; } }
@-ms-keyframes outline2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626; } }
@keyframes outline2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626; } }
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  overflow: hidden;
  text-align: center; }

#wrapper {
  overflow: hidden; }

#board {
  clear: both;
  margin: 50px auto;
  height: 450px;
  width: 450px; }

.row {
  width: 450px;
  height: 150px; }

.square {
  position: relative;
  float: left;
  width: 150px;
  height: 150px; }

.right {
  border-right: 2px solid black; }

.bottom {
  border-bottom: 2px solid black; }

.X:before {
  content: "X";
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.O:before {
  content: "O";
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.overflow-clear {
  overflow: hidden;
  width: 400px;
  margin: 20px auto 0 auto; }

#player1, #player2 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 10px;
  cursor: default;
  border: 5px solid transparent;
  opacity: 0.3; }

#player1 {
  float: left; }

#player2 {
  float: right; }

#player1 p, #player2 p {
  text-transform: uppercase;
  position: relative;
  color: black;
  font-size: 30px;
  transition: 0.3s ease-in-out;
  font-family: fantasy; }

.win-active {
  color: red; }

.active {
  opacity: 1 !important; }

.active:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
  animation: outline1 0.7s ease-in-out forwards; }

.active:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
  animation: outline2 0.7s ease-in-out forwards; }

.winner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.player1-won, .player2-won, .draw-game {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; }

.player1-won h1, .player2-won h1, .draw-game h1 {
  font-size: 340%;
  font-family: fantasy;
  text-align: center; }

.player1-won {
  background: rgba(212, 225, 247, 0.8); }

.player2-won {
  background: rgba(232, 97, 34, 0.8); }

.draw-game {
  background: rgba(13, 193, 190, 0.8); }

.again {
  position: relative;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  font-size: 200%;
  border: 2px solid transparent;
  cursor: pointer; }
  .again a {
    text-decoration: none;
    color: #262626;
    margin: 10px;
    font-weight: bold;
    display: inline-block; }
  .again i {
    display: inline-block; }

.again:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
  animation: outline1 0.7s ease-in-out forwards; }

.again:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
  animation: outline2 0.7s ease-in-out forwards; }

@media screen and (max-width: 768px) {
  .X:before {
    font-size: 48px; }

  .O:before {
    font-size: 48px; }

  #board {
    width: 360px;
    height: 360px; }

  .row {
    width: 360px;
    height: 120px; }

  .square {
    width: 120px;
    height: 120px; }

  #player1, #player2 {
    padding: 8px;
    font-size: 24px; } }
@media screen and (max-width: 425px) {
  #board {
    margin-top: 60px; }

  #player1, #player2 {
    padding: 6px;
    font-size: 12px; }

  #player1 {
    margin-left: 30px; }

  #player2 {
    margin-right: 30px; } }
@media screen and (max-width: 375px) {
  .X:before {
    font-size: 36px; }

  .O:before {
    font-size: 36px; }

  #board {
    margin-top: 60px;
    width: 270px;
    height: 270px; }

  .row {
    width: 270px;
    height: 90px; }

  .square {
    width: 90px;
    height: 90px; }

  .overflow-clear {
    width: 100%; }

  #player1, #player2 {
    margin-top: 40px;
    padding: 8px;
    font-size: 24px; }

  #player1 {
    margin-left: 40px; }

  #player2 {
    margin-right: 40px; } }

/*# sourceMappingURL=style.css.map */
