/*Starting Customizing the Board*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
h1, a{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}
#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#board {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    margin: auto;
}

.row {
    width: 450px;   
    height: 150px;
}

.square {
    float: left;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.bottom {
    border-bottom: 2px solid black;
}

.right {
    border-right: 2px solid black;
}

.fa-times {
    text-align: center;
    line-height: 150px;
    font-size: 350%;
}

.fa-circle-o
{
    text-align: center;
    line-height: 150px;
    font-size: 350%;
} 

/*Ending Custmizing the board*/

/*Starting customizing the player button*/
#player1 {
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-align: center;
    float: left;
    margin-top: 15px;
    margin-left: 30%;;
    padding: 10px;
    border: 2px solid transparent;
    opacity: 0.3;
    cursor: default;
}
#player1 p {
    text-transform: uppercase;
    position: relative;
    color: black;
    font-size: 200%;
    font-family: fantasy;
    transition: .5s ease-in-out;
}

#player2 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-top: 15px;
    margin-right: 30%;
    padding: 10px;
    border: 2px solid transparent;
    opacity: 0.3;
    cursor: default;
}
#player2 p {
    position: relative;
    text-transform: uppercase;
    color: black;
    font-family: fantasy;
    font-size: 200%;
    transition: 0.3s ease-in-out;
}
/* End Customize the button*/

/* Start When user click on button*/
.active {
    opacity: 1 !important;
}

.active:before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 0;
    height: 0;
    background: transparent;
    border: 5px solid transparent;   
    animation: outline1 0.7s ease-in-out forwards;
}
.active:after{
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 0;
    height: 0;
    background: transparent;
    border: 5px solid transparent;
    animation: outline2 0.7s 0.2s ease-in-out forwards;
}

@keyframes outline1 {
    0% {
        width: 0;
        height: 0;
        border-top-color: #262626;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    
    50% {
        width: 100%;
        height: 0;
        border-top-color: #262626;
        border-right-color: #262626;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #262626;
        border-right-color: #262626;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    
}

@keyframes outline2 {
    0% { 
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: #262626;
        border-bottom-color: transparent;
    }
    
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: #262626;
        border-bottom-color: transparent;
    }
    
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: #262626;
        border-bottom-color: #262626;
    }
    
}

/*Ending the animtion for outline*/

/*Starting Lines When players win*/
.first-row {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 500px;
    z-index: 1;
    background-color: black;
}

.second-row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 500px;
    z-index: 1;
    background-color: black;
}

.third-row {
    position: absolute;
    top: 72.5%;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 500px;
    z-index: 1;
    background-color: black;
}

.first-col {
    position: absolute;
    top: 50%;
    left: 20.65%;
    height: 5px;
    width: 500px;
    z-index: 1;
    transform: rotate(90deg);
    background-color: black;
}

.second-col {
    position: absolute;
    top: 50%;
    left: 31.65%;
    height: 5px;
    width: 500px;
    z-index: 1;
    transform: rotate(90deg);
    background-color: black;
}

.third-col {
    position: absolute;
    top: 50%;
    left: 42.70%;
    height: 5px;
    width: 500px;
    z-index: 1;
    transform: rotate(90deg);
    background-color: black;
}

.back-slash {
    position: absolute;
    top: 50%;
    left: 29.8%;
    height: 5px;
    width: 550px;
    z-index: 1;
    transform: rotate(45deg);
    background-color: black;
}

.slash {
    position: absolute;
    top: 50%;
    left: 29.8%;
    height: 5px;
    width: 550px;
    z-index: 1;
    transform: rotate(-45deg);
    background-color: black;
}
/*Ending lines when wins*/

/*--------AGAIN BUTTON--------*/

.player1-won {
    width: 100vw;
    height: 100vh;
    background-color: rgba(212, 225, 247, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.player1-won h1 {
    font-size: 340%;
    font-family: fantasy;
    line-height: 90vh;
    text-align: center;
}

.player2-won {
    width: 100vw;
    height: 100vh;
    background-color: rgba(232, 97, 34, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.player2-won h1{
    font-size: 340%;
    font-family: fantasy;
    line-height: 90vh;
    text-align: center;
}
.draw-game {
    width: 100vw;
    height: 100vh;
    background-color: rgba(232, 97, 34, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.draw-game h1{
    font-size: 340%;
    font-family: fantasy;
    line-height: 90vh;
    text-align: center;
}

.again {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 200%;
    border: 2px solid transparent;
    cursor: pointer;
}
.again a {
    text-decoration: none;
    color: #262626;
    margin: 10px;
    font-weight: bold;
    display: inline-block;
}
.again i {
    display: inline-block;
}

.again:before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 0;
    height: 0;
    background: transparent;
    border: 5px solid transparent;   
    animation: outline1 0.7s ease-in-out forwards;
}
.again:after{
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 0;
    height: 0;
    background: transparent;
    border: 5px solid transparent;
    animation: outline2 0.7s 0.2s ease-in-out forwards;
}

