/*Starting Customizing the Board*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  overflow: hidden;
}
h1, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
#wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#board {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, 0);
  width: 450px;
  height: 450px;
  margin: auto;
}

.row {
  width: 100%;
  height: 33.333%;
}

.square {
  float: left;
  width: 33.333333333333333333%;
  height: 150px;
  cursor: pointer;
}

.bottom {
  border-bottom: 2px solid black;
}

.right {
  border-right: 2px solid black;
}
.fa {
  font-size: 60px !important;
  line-height: 100px !important;
}
.fa-repeat {
  font-size: 30px !important;
  line-height: 50px !important;
}
.fa-times {
  text-align: center;
}

.fa-circle-o {
  text-align: center;
}

/*Ending Custmizing the board*/

/*Starting customizing the player button*/
#player1 {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 3%;
  left: 30%;
  text-align: center;
  padding: 10px;
  border: 2px solid transparent;
  opacity: 0.3;
  cursor: default;
}
#player1 p {
  text-transform: uppercase;
  position: relative;
  color: black;
  font-size: 30px;
  font-family: fantasy;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#player2 {
  position: absolute;
  top: 3%;
  right: 30%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border: 2px solid transparent;
  opacity: 0.3;
  cursor: default;
}
#player2 p {
  position: relative;
  text-transform: uppercase;
  color: black;
  font-family: fantasy;
  font-size: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* End Customize the button*/

/* Start When user click on button*/
.active {
  opacity: 1 !important;
}

.active:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
  -webkit-animation: outline1 0.7s ease-in-out forwards;
  animation: outline1 0.7s ease-in-out forwards;
}
.active:after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
  -webkit-animation: outline2 0.7s 0.2s ease-in-out forwards;
  animation: outline2 0.7s 0.2s ease-in-out forwards;
}

@-webkit-keyframes outline1 {
  0% {
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

@keyframes outline1 {
  0% {
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

@-webkit-keyframes outline2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626;
  }
}

@keyframes outline2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626;
  }
}

/*Ending the animtion for outline*/

.win-active {
  color: red;
}
/*Ending lines when wins*/

/*--------AGAIN BUTTON--------*/

.player1-won {
  width: 100vw;
  height: 100vh;
  background-color: rgba(212, 225, 247, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.player1-won h1 {
  font-size: 340%;
  font-family: fantasy;
  line-height: 90vh;
  text-align: center;
}

.player2-won {
  width: 100vw;
  height: 100vh;
  background-color: rgba(232, 97, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.player2-won h1 {
  font-size: 340%;
  font-family: fantasy;
  line-height: 90vh;
  text-align: center;
}
.draw-game {
  width: 100vw;
  height: 100vh;
  background-color: rgba(232, 97, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.draw-game h1 {
  font-size: 340%;
  font-family: fantasy;
  line-height: 90vh;
  text-align: center;
}

.again {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 10px;
  font-size: 200%;
  border: 2px solid transparent;
  cursor: pointer;
}
.again a {
  text-decoration: none;
  color: #262626;
  margin: 10px;
  font-weight: bold;
  display: inline-block;
}
.again i {
  display: inline-block;
}

.again:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
  -webkit-animation: outline1 0.7s ease-in-out forwards;
  animation: outline1 0.7s ease-in-out forwards;
}
.again:after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
  -webkit-animation: outline2 0.7s 0.2s ease-in-out forwards;
  animation: outline2 0.7s 0.2s ease-in-out forwards;
}
/*-----------------Start Media------------------------*/
@media screen and (max-width: 1024px) {
  #board {
    bottom: 5%;
  }
  #player1 p, #player2 p {
    font-size: calc(100vw/25);
  }
}
@media screen and (max-width: 425px) {
  #board {
    width: 80%;
    height: 350px;
    bottom: 10%;
  }
  .square {
    height: calc(350px / 3);
  }
  .fa {
    line-height: 100px !important;
  }
  #player1 {
    top: 10%;
    left: 10%;
  }
  #player1 p {
    font-size: 120%;
  }
  #player2 {
    top: 10%;
    right: 10%;
  }
  #player2 p {
    font-size: 120%;
  }
}
@media screen and (max-width: 320px) {
  #player1 {
    left: 13%;
    top: 15%;
  }
  #player2 {
    right: 13%;
    top: 15%;
  }
  .fa {
    font-size: 40px !important;
  }
}
@media screen and (max-height: 600px) {
  #board {
    height: 330px;
    width: 330px;
    bottom: 10%;
  }
  .square {
    height: calc(330px / 3);
  }
}
